---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="About | Hakim Kalem" description="About Hakim Kalem">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline= "Know more about my journey &#8595;" >
				<img
					width="1553"
					height="873"
					src="/assets/kirby.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I hold a Bachelor's degree in Economic and Social Administration (AES), which allowed me to develop 
						a strong foundation in organizational, analytical, and communication skills.
					</p>
					<p>
						To further pursue my passion for technology, I completed professional training in full-stack 
						web development through OpenClassrooms.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>
							<strong>Bachelor's Degree in Economic and Social Administration (AES)</strong><br>
							University of Le Havre, France – 2021
						</li>
						<li>
							<strong>Full-Stack Developer Training</strong><br>
							OpenClassrooms – 2024
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li><strong>Frontend Development:</strong> React.js, HTML, CSS, JavaScript</li>
						<li><strong>Backend Development:</strong> Node.js, Express.js, MongoDB</li>
						<li><strong>Version Control:</strong> Git, GitHub</li>
						<li><strong>Problem-Solving:</strong> Analytical mindset, tackling technical challenges efficiently</li>
						<li><strong>Soft Skills:</strong> Communication, adaptability, continuous learning mindset</li>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
